
<style>
    .btn-default {
        width: 200px;
        height: 50px;
        text-align: center;
        background-color: lightcyan;
    }
</style>


<head>
    <div class="jumbotron">

        <h2 style="text-align:center">@ViewBag.Title</h2>
    </div>
    <hr style="color:black; font:15px;" />
</head>

<body style="text-align:center">
    <h3>
        Que haremos hoy?

    </h3>
    <br />
    <div>
        <a href="~/Admin/Manage_Students" class="btn btn-default">Gestionar Alumnos</a>
    </div>
    <br />
    <div>
        <a href="~/Admin/Manage_Course" class="btn btn-default">Gestionar Materias</a>
    </div>
    <br />
    <div>
        <a href="~/Admin/Manage_Teachers" class="btn btn-default">Gestionar Profesores</a>
    </div>


</body>