@model Alkemy_School.Models.VM_Course
@{
    ViewBag.Title = "Details";
}

<h1>Detalles de  @Model.Nombre </h1>
<br />


<body>
    <div>
        Profesores: 
        <div>
         
            <table>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    
    
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>


</body>

<div ></div>




