

<div class="jumbotron">
    <h2 style="text-align:center">
        Bienvenido al SysAcad de Alkemy School
    </h2>
</div>

<div class="body-content">
    <h3> Por favor, para continuar ponga su Legajo y su numero de Documento </h3>
    
    <form action="~/Home/MyPage" method="post">
        <div class="form-group">

            <div>
            Legajo: <input type="text" name="Docket" value="" />
                </div>
            <div>
            Documento: <input type="text" name="DNI" value="" />
                </div>

        </div>
        <button> Ingresar </button>

    </form>


</div>