
<style>
    .btn-default {
        width: 200px;
        height: 50px;
        text-align: center;
        background-color: lightcyan;
    }
</style>

<head>
    <div class="jumbotron">

        <h2 style="text-align:center">@ViewBag.Title</h2>
    </div>
    <hr style="color:black; font:15px;" />
</head>

<body style="text-align:center">
    <h3>Que vamos a hacer hoy?</h3>
    <br />
   
    <h4>    @ViewBag.Action    </h4>

    <div>

        <a href="~/Student/NewInscription" class="btn btn-default">Inscribirse a una Materia</a>
    </div>
    <br />
    <div>

        <a href="~/Student/Userinfo" class="btn btn-default">Mis Datos</a>
    </div>
    <br />
    <div>

        <a href="~/Student/MyInscriptions" class="btn btn-default">Mis Inscripciones</a>
    </div>
    <br />



</body>
