
<style>
    .btn-default {
        width: 200px;
        height: 50px;
        text-align: center;
        background-color: lightcyan;
    }
</style>

<head>
    <div class="jumbotron">

        <h2 style="text-align:center">@ViewBag.Title</h2>
    </div>
    <hr style="color:black; font:15px;" />
</head>

<body style="text-align:center">
    <h3>Que vamos a hacer hoy?</h3>
    <br />

    <div>

        <a href="~/Student/NewInscription" class="btn btn-default">Inscribirse a una Materia</a>
    </div>
    <br />
    <div>

        <a href="~/Student/AllCourses" class="btn btn-default">Listar todas las Materias</a>
    </div>
    <br />
    <div>

        <a href="~/Student/MyInscriptions" class="btn btn-default">Mis Inscripciones</a>
    </div>
    <br />
    <div>

        <a href="~/Student/DeleteInscription" class="btn btn-default">Borrar Inscripción</a>
    </div>



</body>
